GOOGLE_CLIENT_ID=CLIENTE GOOGLE ID PROPIO
JWT_SECRET=un_secreto_largo_cualquiera
FRONTEND_LOCAL_URL= UN TUNEL HTTP PARA EL FRONT
MP_ACCESS_TOKEN=TOKEN MP DEVELOPERS APLICACION PROPIO
MP_USE_TEST_PAYER=un booleano, true en testing
MP_TEST_PAYER_EMAIL= mail del payer user
